{% set layouts = "home" %}
{% import "data/global.njk" as global %}

<!DOCTYPE html>
<html class="page no-js" lang="{{ global.language }}">

	{% include "blocks/head.njk" %}

	<body class="page">
		{% include "blocks/header.njk" %}
		{% block body %}
		{% endblock %}
		{% include "blocks/footer.njk" %}
		{% include "blocks/scripts.njk" %}
	</body>

</html>
