{
	"parser": "babel",
	"printWidth": 220,
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"quoteProps": "as-needed",
	"jsxSingleQuote": true,
	"trailingComma": "all",
	"bracketSpacing": true,
	"bracketSameLine": true,
	"jsxBracketSameLine": true,
	"arrowParens": "always",
	"proseWrap": "always",
	"htmlWhitespaceSensitivity": "css",
	"vueIndentScriptAndStyle": true,
	"endOfLine": "crlf",
	"requirePragma": false,
	"insertPragma": false,
	"overrides": [
		{
			"files": "*.js",
			"options": {
				"printWidth": 220
			}
		}
	]
}
