{% extends "layouts/default.njk" %}
{% set title = "Prices page" %}
{% set description = "This is the Prices page" %}

{% block body %}

	<h1>{{ title }}</h1>
	<p>{{ description }}</p>

{% endblock %}
